{erl_opts, [debug_info]}.
{deps, [
      {redbug      , ".*", {git, "https://github.com/massemanet/redbug",     {tag, "1.2.1"}}},
      {erlcloud    , ".*", {git, "https://github.com/erlcloud/erlcloud",     {branch, "master"}}},
      {jsone       , ".*", {git, "https://github.com/sile/jsone",            {branch, "master"}}},
      {meck        , "0.8.13"}
    ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [message]}
]}.

{relx, [{release,{message, "1.0.0"}, []},
  {dev_mode, false},
  {vm_args_src, "config/vm.args.src"}
]}.

%% == Common Test ==

%% {erl_opts, [...]}, but for CT runs
{ct_compile_opts, []}.
%% {erl_first_files, ...} but for CT runs
{ct_first_files, []}.
%% Keep only the logs of the last 5 runs
{ct_opts, [{keep_logs, 5}, {verbose,  true}]}.

%% Whether to enable coverage reporting where commands support cover.
{cover_enabled, false}.
{cover_export_enabled, true}.
%%
%% %% Modules to exclude from cover
{cover_excl_mods, []}.

%% Options to pass to cover provider
{cover_opts, [verbose]}.
